<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nuevo Asistente Externo</title>
 
  <style>
       body {
            font-family: Arial, sans-serif;
        }

        label {
            font-size: 16px;
            display: block;
            margin-top: 10px;
        }

        input,
        textarea,
        .dx-field-value {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
        }

        button {
            margin-top: 15px;
            padding: 10px 15px;
        }
  </style>
</head>

<body>
  <h2>Nuevo Asistente Externo</h2>
  <form action="/ubicaciones/nuevo" method="POST">
    <div class="form-group">
      <label for="UsuarioID">UsuarioID:</label>
      <div id="UsuarioIDInput"></div>
      <input type="hidden" id="UsuarioID" name="UsuarioID" required>
    </div>

    <div class="enviar">
      <button type="submit" class="btn btn-azul">Agregar Asistente</button>
    </div>
  </form>

  <script>
    $(function () {
      DevExpress.localization.locale('es');

      $("#UsuarioIDInput").dxNumberBox({
        placeholder: "Ingresa el ID del Usuario",
        min: 0,
        showSpinButtons: true,
        onValueChanged: function (e) {
          $("#UsuarioID").val(e.value);
        }
      });
    });
  </script>
</body>

</html>