<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Personal de Logística</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        label {
            font-size: 16px;
            display: block;
            margin-top: 10px;
        }

        input,
        textarea,
        .dx-field-value {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
        }

        button {
            margin-top: 15px;
            padding: 10px 15px;
        }
    </style>
</head>

<body>
    <h2>Nuevo Personal de Logística</h2>
    <form action="/usuarios/nuevo" method="POST">

        <div class="form-group">
            <label for="UsuarioID">UsuarioID:</label>
            <div id="UsuarioIDInput"></div>
            <input type="hidden" id="UsuarioID" name="UsuarioID" required>
        </div>

        <div class="form-group">
            <label for="AreaResponsable">Area Responsable:</label>
            <div id="AreaResponsableInput"></div>
            <input type="hidden" id="AreaResponsable" name="AreaResponsable" required>
        </div>

        <div class="enviar">
            <button type="submit" class="btn btn-azul">Agregar Personal de Logística</button>
        </div>
    </form>

    <script>
        $(function () {
            DevExpress.localization.locale('es');


            $("#UsuarioIDInput").dxNumberBox({
                placeholder: "UsuarioID",
                min: 0,
                showSpinButtons: true,
                onValueChanged: function (e) {
                    $("#UsuarioID").val(e.value);
                }
            });

            $("#AreaResponsableInput").dxTextBox({
                placeholder: "AreaResponsable",
                onValueChanged: function (e) {
                    $("#AreaResponsable").val(e.value);
                }
            });
        });
    </script>
</body>