<h2>Comite Organizador</h2>
<a href="/carreras/nuevo" class="btn btn-verde nvo-cliente"> <i class="fas fa-plus-circle"></i>
Nuevo
</a>
<div id="gridContainer"></div>
<script>
  $(function(){
    const carreras = {{{races}}};
    $("#gridContainer").dxDataGrid({
      dataSource: carreras,
      keyField: "Id",
      columns: [
      { dataField:"OrganizadorID", caption:"ID", width: 180 },
      { dataField: "Nombre", caption: "Nombre", dataType: "date", format: "yyyy-MM-dd" },
      { dataField: "Correo", caption: "Correo" }],
                  paging: {
                    pageSize: 10
                    },
                    pager: {
                      showPageSizeSelector: true,
                      allowedPageSizes: [10, 20, 50]
                    }
                    });

  });
</script>





